<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dh.login.serviceimpl.LoginMapper">

    
    <insert id="join">
		 INSERT INTO USER(ID, PASSWORD, NAME, EMAIL, REG_DT) 
		VALUES(#{id }, #{password }, #{name }, #{email }, (SELECT DATE_FORMAT(NOW(), '%Y%m%d') FROM DUAL))	
    </insert> 
    
    <insert id="roleRegist">    		   
		 INSERT INTO USER_ROLE(ID, ROLE_NO) 
		VALUES(#{id }, 'USER')
    </insert>
    
    <!-- 유저 ID 비번 확인 -->
	<select id="findByUsername" resultType="com.dh.login.service.LoginVO">
        SELECT ID AS id 
			    , PASSWORD AS password
			    , NAME
			    , EMAIL
			    , REG_DT
		 FROM USER
		WHERE ID = #{username }
    </select>
    
    <!-- 유저 권한 확인 -->
	<select id="findByRoleList" resultType="String">
         SELECT UR.ROLE_NO
		   FROM USER U
		   LEFT OUTER JOIN USER_ROLE UR
		     ON U.ID = UR.ID
	      WHERE U.ID = #{username }
    </select>
    
</mapper>